.navbar-light .navbar-nav .nav-link {
	color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #ce8282;
}

section {
	text-align: center;

}

.linkscarousel {
	text-decoration: none;
	color: white;
}

.linkscarousel:hover {
	text-decoration: none;
	color: black;
}

.imgdepoimentos {
	height: 35%;
	width: 25%;
}

#rodape {
	background: white;
	border-top: 1px solid black;
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #ce8282;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: black;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #ce8282;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;
}
